.product-card{
    width: 250px;
    height:300px;
    border:2px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.product-card img{
    border-radius: inherit;
    width: 100%;
    height: 200px;
}
.add-to-cart-btn{
    transition: all .4s ease-in-out;
    padding: 5px 10px;
    background-color: transparent;
}
.add-to-cart-btn:hover{
    cursor: pointer;
    color: white;
    border-color:#5252c8;
    background-color: #5252c8;
}